div.bar {
	display: inline-block;
	width: 20px;
	height: 75px;
	background-color: teal;
}

svg {
	margin: 10px;
	margin-right: 100px
}

.axis path,
.axis line {
	fill: none;
	stroke: black;
	shape-rendering: crispEdges;
}

#container{
	display: flex;
}